.emailRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  /* border-top: 1px solid #e2e2e2; */
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  position: relative;
}
.emailRow:hover {
  /* border: 1px solid #a2a2a2; */
  border-left: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  box-shadow: 2px 1px 5px 0px rgb(177, 177, 177);
}
.emailRow__left {
  display: flex;
  align-items: center;
}
.emailRow__middle {
  display: flex;
  align-items: center;
}

.emailRow__rightOptions {
  display: flex;
  align-items: center;
  background-color: white;
  position: absolute;
  right: 10px;
}
.emailRow__rightOptions--hide {
  display: none;
}
.emailRow__icons {
  display: flex;
  align-items: center;
  margin: 0 0px;
  padding: 10px;
  border-radius: 100%;
  color: #a1a1a1;
  background-color: transparent;
}

.emailRow__icons:hover {
  background-color: #f2f2f2;
}

.emailRow__icon--bold {
  color: black;
}

.emailRow__title {
  font-weight: 700;
  font-size: 14px;
  margin-left: 12px;
}

.emailRow__subject {
  font-weight: 700;
  font-size: 15px;
  margin-right: 3px;
}

.emailRow__description {
  color: #414141;
}
.emailRow__time {
  font-weight: 700;
  font-size: 13px;
}
