.mail {
  background-color: white;
  border-radius: 20px;
  flex: 1;
}

.mail__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  /* border-bottom: 1px solid black; */
}

.mail__tools__left {
  display: flex;
  align-items: center;
}

.mail__tools__right {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.mail__tools__left__iconSet {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.mail__tools__rightIcon {
  cursor: pointer;
  padding: 13px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.mail__tools__rightIcon:hover {
  background-color: rgb(238, 238, 238);
}

.mail__body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 70px;
}

.mail__body__header__left {
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.mail__body__header__right {
  display: flex;
  align-items: center;
  align-self: start;
  justify-content: space-between;
}

.mail__body__header__left h1 {
  font-weight: 400;
  font-size: 24px;
  color: #242424;
}

.mail__body__header__right__importantLabel__dark {
  display: none;
}
.mail__body__middle__left {
  display: flex;
  align-items: center;
}

.mail__body__middle__left__mailInfo {
  display: flex;
  flex-direction: column;
}

.mail__body__middle__left__senderInfo {
  display: flex;
  align-items: center;
}

.mail__body__middle__right {
  display: flex;
  align-items: center;
}
